<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Html.ActionLink("My good ol' web application", "Index", "Home")

    @if (Context.User != null && Context.User.Identity.IsAuthenticated)
    {
        <div style="float:right">
            @Html.ActionLink("Logout", "Logout", "Oidc")
        </div>
    }
    <hr />

    @RenderBody()

    <hr />

    <footer>
        <p>&copy; @DateTime.Now.Year - My awesome ASP.NET Application</p>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
